In [21]:
import pandas as pd
import mysql.connector as msql
from mysql.connector import Error

data = pd.read_csv (r'./data/20-Aug-23.csv') # Change file path according to your configuration
df = pd.DataFrame(data)

print(df.head())

try:
    conn = msql.connect(host='localhost', 
                        user='root',  
                        password='',
                        database='test') # Change host,user according to your configuration
    if conn.is_connected():
        #date_time,search_keyword,search_count,job_id,job_title,company,location,update_time,applicants,job_time,job_position,company_size,company_industry,job_details
        cursor = conn.cursor()
        cursor.execute("CREATE TABLE IF NOT EXISTS jobs (jobid VARCHAR(255) PRIMARY KEY, searchkeyword VARCHAR(255), searchcount VARCHAR(255), jobtitle VARCHAR(255), company VARCHAR(255), location VARCHAR(255), updatetime VARCHAR(255), applicants VARCHAR(255), jobtime VARCHAR(255), jobposition VARCHAR(255), companysize VARCHAR(255), companyindustry VARCHAR(255), jobdetails VARCHAR(255))")
        print("Database is created")

        for row in df.itertuples():
            sql = f"""
            INSERT INTO jobs(jobid, searchkeyword, searchcount, jobtitle, company, location, updatetime, applicants, jobtime, jobposition, companysize, companyindustry, jobdetails)
            VALUES ('{row[4]}','{row[2]}','{row[3]}','{row[5]}','{row[6]}','{row[7]}','{row[8]}','{row[9]}','{row[10]}','{row[11]}','{row[12]}','{row[13]}', '{row[14]}')
            """
            cursor.execute(sql)
            print("Record inserted")
            # the connection is not auto committed by default, so we must commit to save our changes
            conn.commit()
except Error as e:
    print("Error:", e)

            date_time search_keyword  search_count      job_id  \
0  20Aug2023-22:15:28  data engineer            48  3630480382
1  20Aug2023-22:16:30  data engineer            48  3564443460
2  20Aug2023-22:17:32  data engineer            48  3541740041
3  20Aug2023-22:18:34  data engineer            48  3675150042
4  20Aug2023-22:19:36  data engineer            48  3670503035

                                           job_title company location  \
0          Principal Engineer - Digital Verification     ok1      ok2
1                Expert, Data Engineering (40000062)     NaN      NaN
2  Senior Analyst (Supply Analytics team, Bangkok...     NaN      NaN
3   [Vietnam] - E/E System Design Lead Engineer (EV)     NaN      NaN
4                               Data Design Engineer     NaN      NaN

  update_time applicants job_time job_position company_size company_industry  \
0         ok3        ok4      ok5          ok6          ok7              ok8
1         NaN        NaN      NaN          NaN          NaN              NaN
2         NaN        NaN      NaN          NaN          NaN              NaN
3         NaN        NaN      NaN          NaN          NaN              NaN
4         NaN        NaN      NaN          NaN          NaN              NaN

  job_details
0         ok9
1         NaN
2         NaN
3         NaN
4         NaN
Error: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)